@{
    var controller = ViewContext.RouteData.Values["controller"]?.ToString();
    var action = ViewContext.RouteData.Values["action"]?.ToString();
}




<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Commerce | Ana Sayfa </title>


    <!--BootStrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--BootStrap-->


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a asp-area="" asp-controller="Home" asp-action="Index" ><img src="img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a asp-area="" asp-controller="Cart" asp-action="Index" ><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>0.00 TL</span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="img/language.png" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
            </div>
            <div class="header__top__right__auth">
                <a asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-user"></i> Giriş Yap</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
                <li><a asp-area="" asp-controller="Product" asp-action="Index" >Mağaza</a></li>
                <li>
                    <a href="#">Sayfalar</a>
                    <ul class="header__menu__dropdown">
                        <li><a asp-controller="Product" asp-action="Index" >Alışveriş Detay</a></li>
                        <li><a asp-area="" asp-controller="Cart" asp-action="Index">Sepet</a></li>
                        <li><a a asp-area="" asp-controller="Cart" asp-action="Index">Ödemeye geç</a></li>
                    </ul>
                </li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./contact.html">İletişim</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
    </div>
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li style="margin-left:20px;">350 TL ve üstü ücretsiz kargo!</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__auth">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a asp-area="Identity" asp-page="/Account/Manage/Index" class="me-3">
                                        <i class="fa fa-user"></i> Profilim
                                    </a>
                                    <a asp-area="" asp-controller="Favorite" asp-action="Index" class="me-3">
                                        <i class="fa fa-heart"></i> Favorilerim
                                    </a>
                                    <a asp-area="" asp-controller="Cart" asp-action="Orders" class="me-3">
                                        <i class="fa fa-shopping-cart"></i> Siparişlerim
                                    </a>

                                    <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" method="post" class="d-inline">
                                        <a href="javascript:document.getElementById('logoutForm').submit()">
                                            <i class="fa fa-sign-out"></i> Çıkış Yap
                                        </a>
                                    </form>
                                    
                                }
                                else
                                {
                                    <a asp-area="Identity" asp-page="/Account/Login">
                                        <i class="fa fa-user"></i> Giriş Yap / Üye Ol
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
                            <li><a asp-area="" asp-controller="Product" asp-action="Index">Mağaza</a></li>
                            <li>
                                <a href="#">Sayfalar</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="./shop-details.html">Shop Details</a></li>
                                    <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="./contact.html">İletişim</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a asp-area="" asp-controller="Cart" asp-action="Index"><i class="fa fa-shopping-bag"></i> <span id="cart-count"></span></a></li>
                        </ul>
                        <div class="header__cart__price">item: <span id="cart-total">0 ₺</span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Kategoriler</span>
                        </div>
                        <ul id="category-ul">
                            @await Component.InvokeAsync("CategoryList")
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form method="get" action="/Product/">
                                <div class="hero__search__categories">
                                    Kategoriler
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input name="SearchTerm" type="text" placeholder="Ne aramıştınız?">
                                <button id="btn-search" type="submit" class="site-btn">ARA</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->


    

    @if(controller != "Home")
        {
        <!-- Breadcrumb Section Begin -->
        <section class="breadcrumb-section set-bg" data-setbg="@Url.Content("~/img/breadcrumb2.png")">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="breadcrumb__text">
                            <h2>Organi Shop</h2>
                            <div class="breadcrumb__option">
                                <a asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                                <span>Mağaza</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb Section End -->
        } 
    

    


    <main class="container my-5">
        @RenderBody()
    </main>



    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Adres: Ataşehir İstanbul</li>
                            <li>Email: enes.yildirim@std.yeditepe.edu.tr</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Faydalı Bağlantılar</h6>
                        <ul>
                            <li><a href="#">Hakkımızda</a></li>
                            <li><a href="#">SSS - Sıkça Sorulan Sorular</a></li>
                            <li><a href="#">Güvenli Alışveriş</a></li>
                            <li><a href="#">Gizlilik</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>En Son Gelişmelerden Haberdar Olun</h6>
                        <p>Size özel indirim ve tekliflerden haberdar olmak için e-postalar alın</p>
                        <form action="#">
                            <input type="text" placeholder="E-postanız...">
                            <button type="submit" class="site-btn">Abone Ol</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="https://www.linkedin.com/in/enes-y%C4%B1ld%C4%B1r%C4%B1m-yeditepe-university/"><i class="fa fa-linkedin"></i></a>
                            <a href="https://github.com/ch4uTR"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <!--BootStrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!--BootStrap-->

    @RenderSection("Scripts", required: false)





<script>

        //SAYFA YÜKLENDİĞİNDE YAPILACAK İŞLEMLER  !!!!
        document.addEventListener("DOMContentLoaded", function() {


            //SEPET BİLGİLERİNİ GETİR/////////////////////////////////
            
            window.updateCartDiv();

            ///////////////////////////////////////////////////////

            



           
            
        });
         ////////////////   SEPET BİLGİLERİNİ GETİR FONKSİYONU    /////////////////
         window.updateCartDiv = function(){
                //SEPET BİLGİLERİNİ GETİR/////////////////////////////////
            const cartCount = document.getElementById("cart-count");
            const cartTotal = document.getElementById("cart-total");

            if (!cartCount || !cartTotal) {
                console.error("Cart elements not found in DOM");
                return;
            }

            fetch("/Cart/GetCartDetailsJSON")
                .then(response => {
                    if (!response.ok) throw new Error("Network error");
                    return response.json();
                })
                .then(data => {
                    cartCount.textContent = data.totalProducts;
                    cartTotal.textContent = `${data.totalCost} TL`;
                })
                .catch(err => console.error(err));
           }



    




</script>
</body>


</html>




