@model List<Category>

<ul>
    @foreach(var category in Model)
    {
        <li><a asp-controller="Product" asp-action="Index" asp-route-category-id="@category.Id">@category.Name</a></li>
    }
    
    
</ul>
