@{
    ViewData["Title"] = "Unauthorized";
}

<div class="d-flex flex-column justify-content-center align-items-center  text-center pt-5">
    <h1 class="display-1 text-danger mb-4">🚫 Sorry!</h1>
    <p class="fs-4 mb-4">Your request could not be processed</p>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="site-btn">
        Home
    </a>
</div>
