@{
    ViewData["Title"] = "Unauthorized";
}


<h1 class="display-4 text-danger">🚫 Sorry!</h1>
<p>Your request could not be processed</p>
<a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-secondary">Home</a>

