@model List<Category>


    @foreach (var category in Model)
    {
        <li class="@(category.Id == ViewBag.SelectedCategoryId ? "active" : "")">
            <a asp-area="" asp-controller="Product" asp-action="Index" asp-route-CategoryId="@category.Id">
                @category.Name
            </a>
        </li>
    }
