@page
@model LogoutModel

@{
    ViewData["Title"] = "Başarıyla Çıkış Yaptınız!";
}

<div class="d-flex justify-content-center align-items-center">
        <div class="col-md-6 p-4 text-center">
            <section>
                <div class="mb-4">
                    <h2 style="color: #7fad39;"><i class="fa fa-check-circle"></i> @ViewData["Title"]</h2>
                </div>
                <div>
                    <p class="lead">Tekrar görüşmek üzere</p>
                </div>
                <div class="mt-4">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="site-btn">
                        <i class="fa fa-home"></i> Ana sayfaya dön
                    </a>
                </div>
            </section>
        </div>
    </div>
</div>